/* global*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto"; sans-serif
}
p{
    line-height: 2;
}
a{
    text-decoration: none;
}
h1,h2,h3{
    padding-bottom: 20px;
    padding-top: 20px;
}

/*header*/
header{
    background-image: url(./realEstate-img-main/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;
    color: white;
    text-align: center;
}

.bar-menu {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.menu-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu a{
    color: white;
    margin-right: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

/* about */
.about-container {
    display: flex;
    gap: 20px;
}
/* Houses */
.house-combined{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}


.house-container{
    display: flex;
}
.houses-item {
    background-color: #dedede;
    margin-right: 10px;
}

.houses-item-img{
    width: 100%;
    height: auto;
}

.house-item-text{
    padding: 20px;
}

.price{
    color: green;
    font-weight: bold;
}

.icon-container{
    display: flex;
}

.icon-container-img {
    margin-right: 20px;
}

.icon-list{
    display: flex;
    justify-content: space-between;
}

/* utilities */
.btn {
    display: block;
    background-color: orange;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
}

/* contact */
.contact-header{
    background-color: orange;
}

.contact-container{
    width: 80%;
    margin: 0  auto;
}
.contact-header a{
    color: black;
}

.form-container {
    background-color: #dedede;
    padding: 20px;
    border-radius: 10px;
}
legend {
    font-size: 12px;
}

fieldset {
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
}